body{
background-image: url(Images2/Lauragif.gif);
background-image:no-repeat;
background-position: center ;
background-attachment: fixed;
background-size:cover;
}



img {
  float: left;
  margin-right: 15px;
  width: 400px;
  height: 200px;  
}

p {

font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px
 
}

h1 {
font-family: "Epunda Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 50px
  
  
}

div {
  float: left;
  padding: 15px; 
}