body {
background: lightblue
}

img {
  max-width: 100%;

}
  /*  for inline elements,margin and padding don't function like they do with block elements*/
.block{
background: lightgoldenrodyellow;
margin:10px;
padding:10px;
width: 100px;
height:100px;
}
/* Inline elements only take up as much space as their content needs and will rest horizontally alongside one another */
.inline {
  background: lightpink;
  margin: 10px;
  padding:10px;
  width: 100px
  height:100px;
}

.inline-block {
background: green;
display: inline-block;
margin:10px;
padding:10px;

/* unlike inline,inline block can be given width and height */
width:100px
height:100px;
}

.content-box {
  background:lightgray;
  padding:40px;
  border: 5px solid red;
  margin:100px;

  width: 200px;
  height: 200px;
}

.border-box {
  background:lightgray;
  padding:40px;
  border: 5px solid red;
  margin:100px;

  width: 200px;
  height: 200px;
  box-sizing:border-box;
}

.square {
  background:burlywood;
  width:100px;
  height: 100px;
  margin:10 px;
}

.relative{
  background:honeydew
  positon:relative;
  top:20px;
  left:20px
}

.absolute {
  background-color: aliceblue;
  position:absolute;
  top: 500px; px;
  left:500 px;
}